.container{
    padding-top:3%
}
.no-product-cart{
    min-height: 350px;
}
.product-card{
    box-shadow: none;min-width:240px
  }
  .product-img{
    height: 100px;
    width:150px
  }
  .product-name{
    margin-top:20px
  }
  .price{
    margin-top: 10px;
    padding: 5px;
  }