.example-container {
    display: flex;
    flex-direction: column;
    max-height: 600px;
   min-width: 300px;
  
  }
  .conatiner{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%
  }
  .mat-table {
    overflow: hidden;
    /* max-height: 30px; */
  }
  
  .banner-img{
    width:100%;
    height:390px; 
    margin-bottom: 20px;   
  }
  .product-img{
    height: 100px;
    width:50px
  }
  mat-card{
    margin-left:10px
  }
  .product-name{
    margin-top:20px
  }
  .cart-btn{
    min-width: 150px;
    margin:10px
  }
  .product-card{
    box-shadow: none;min-width:240px
  }